<footer class="footer">
  <span>Copyright © 2020 Void Development</span>
  <span style="margin-left: 1rem; margin-right: 1rem;">|</span>
  <a class="footer-link" href="https://voiddevs.com">Main Site</a>
  <a class="footer-link" href="https://voiddevs.com/terms">Terms</a>
  <a class="footer-link" href="https://voiddevs.com/privacy">Privacy</a>
</footer>