<div class="nav">
  <span class="nav-title">WING CAP API</span>
  <div class="nav-links">
      <div class="nav-item">
          <a class="nav-link <%= active == 'home' ? 'active': '' %>" href="/">HOME</a>
      </div>
      <div class="nav-item">
          <a class="nav-link <%= active == 'stats' ? 'active': '' %>" href="/stats">STATISTICS</a>
      </div>
      <div class="nav-item">
          <a class="nav-link <%= active == 'docs' ? 'active': '' %>" href="/documentation">DOCUMENTATION</a>
      </div>
      <div class="nav-item">
          <a class="nav-link <%= active == 'dashboard' ? 'active': '' %>" href="/dashboard">DASHBOARD</a>
      </div>
  </div>
</div>